*
{
    margin: 0;
    padding: 0;
}
.mt-n5 {
    margin-top: -4rem !important;
  }
  nav .right a:hover{
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(211, 170, 170) !important;
  }
  .table{
    height: 400px;
    width: 550px !important;
  }
  .table img{
    height: 35px;
    width: 35px;
  }